body {
    background-color: azure;
}

h1, h3, p, div.video, ul {
    text-align: center;
}

iframe {
    display: block;
    margin: 0 auto;
}

li {
    display: inline;
    /*list-style: square;*/
    margin-right: 20px;
}

footer {
    display: block;
    margin: 0 auto;
    height: 60px;
    background-color: deepskyblue;
    vertical-align: bottom;
    bottom: 0%;
    width: -webkit-fill-available;
    width: 100%;
    position: fixed;
    color: darkblue;
    left: 0;
}
